* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-container {
    background-color: aliceblue;
    width: 100%;
    padding: 20px 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-s {
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50px;
    width: 500px;
  
}

.nav-item {
    display: inline-block;
    padding: 10px;
    width: 90px;
    text-align: center;
}

.nav-item.active {
    background-color: gray;
    border-radius: 50px;
}
a {
    text-decoration: none;
    color: white;
}